/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*

*= require grails
*= require main
*= require mobile
*= require bootstrap
*= require jquery-ui/jquery-ui
*/

body {
    font-family: Verdana;
}

.menu{
    margin-top: 5px;
    width:100%;
    background-color: #398439;
    height: 50px;
    color: White;
    list-style: none;
}

.menu li{
    display:inline;
    width:20%;
    height:100%;
    margin: 0 auto;
    float:left;
    padding-left: 10px;
    padding-top:10px;
    font-size:30px;
}

.menu li a {
    color:White;
    text-decoration: none;
}

.createform {
    margin-left:25%;
}

.createform label{
    margin-left:10px;
    padding: 10px 0px 10px 0px;
}

.createform input {
    position: absolute;
    left:190px;
}

.metrics {
    margin-top: 25px;
    margin-left:15%;
    width:66%;
    border: 1px solid #009900;
    border-radius: 5px;
}

.error {
    color:#b60808;
    text-decoration: tomato;
}

.report_body {
    width:100%;
    height: 70%;
}

.report_links {
    float:left;
    width:20%;
    height: 100%;
}

.report_links p {
    color:#080;
    cursor: pointer;
}

.report{
    width:80%;
    height: 100%;
    float:left;
    border-left: 1px solid #008000;
}

form input[type="submit"] {
    background-color: #398439;
    color: White;
    border-color: White;
    border-radius: 5px;
}

.button_input {
    background-color: #398439;
    color: White;
    border-color: White;
    border-radius: 5px;
}